html,
body,
#app {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0f212e;
}

html.dark {
    background: #222;
    color: white;
}
.betaction_back {
    background-color: #213743;
}
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
        0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border: 1px solid;
    border-radius: 8px;
    border-color: rgb(242, 247, 255);
}
.hover\:bg-secondary\/80:hover {
    background-color: #3d5564cc;
}
span {
    color: white;
}
.transition-colors {
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}
.write-coler {
    color: white;
    font-size: 22px;
    font-weight: 700;
}
/* #plinko {
    width: 800px;
    height: 600px;
} */
